@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
.bullet_term {
	color: #333333;
	font-weight: bold;	font-size: large;
}

h1{
    font-size: large;
    
}
